@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<div class="text-center">
    <br />
    <br />
    <h2 style="color: black; font-weight: bold;">@ViewData["Title"]</h2>
    <br />
    <br />
    <h3 style="color: black; font-weight: bold;">YeniMahalle Mahallesi Çağdak Apartmanı No:16</h3>
    <h3 style="color: black; font-weight: bold;">Beşiktaş/İSTANBUL</h3>
    <br />
    <h3 style="color: black; font-weight: bold;">E-Posta Adresimiz:</h3>
    <h3 style="color: black; font-weight: bold;"><a href="mailto:mertsaltas97@gmail.com">mertsaltas97@gmail.com</a></h3>
</div>
